@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background: var(--Light-gray);
}

p {
  font-size: 15px;
  color: var(--Grayish-blue);
}

.card-container {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  max-width: 300px;
  background: var(--White);
  border-radius: 9px;
  padding: 10px;
}

.qr-code img {
  width: 100%;
  border-radius: 9px 9px 0 0;
}
.card h1 {
  color: var(--Dark-blue);
  font-size: 1.2rem;
}

